{% extends 'jobs/base_emp.html' %}
{% load static %}
{% block content %} 
  {% for user in users %} 
    <center>
      <div class="container my-5">
        <div class="container" id="header-detail">แนบหลักฐานยืนยันตัวตน</div><br>
          <div class="d-flex justify-content-center">
            <div class="user_card5 mb-5">
              <div class="d-flex justify-content-center" id="jobber_form">
                <div class="col-8"><br>
                <form method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="container mb-3">
                          <input type="text" name="name" class="form-control" id="name" value="{{user.first_name}}" placeholder="ชื่อ-สกุล" disabled>
                        </div>
                        <div class="container mb-3">
                          <p id="ex">ตัวอย่าง การถ่ายรูปหน้าตรงคู่บัตรประชาชนเพื่อยืนยันตัวตน</p>
                        </div>
                        <div class="container mb-3">
                          <img src="{% static 'jobs/images/identitycard.jpeg' %}" id="eximage">
                        </div>
                        <div class="container mb-3">
                          <input type="file" required name="picture" class="form-control" id="picture">
                        </div>
                        <div class="container mb-3">
                          <p id="note">หมายเหตุ: กรุณากรอกข้อมูลของคุณให้ครบถ้วนเพื่อความ<br>&emsp;&emsp;&emsp;&emsp;&nbsp;รวดเร็วในการตรวจสอบข้อมูล</p>
                        </div>
                          <input class="btn check_btn2" type="submit" value="ยืนยันตัวตน">
            </form>
          </div></div>
          </div>    
          </div>
          </div>
    </center>   
  {%endfor%}
{% endblock %}