{% extends 'jobs/base_emp.html' %}
{% load static %}
{% block content %} 
  {% for user in users %} 
    <center>
        <div class="container" id="header-detail">ข้อมูลของฉัน</div><br>
          <div class="d-flex justify-content-center">
            <div class="user_card5 mb-5">
              <div class="row">
                <div class="col-5"><br>
                  {% if user.employeruser.picture %}
                  <img src="../../../{{user.employeruser.picture }}" id="image3">
                  {% else %}
                  <img src="{% static 'jobs/images/Profile.png' %}" id="image3">
                  {% endif %}
                  <br>
                  <br>
                  {% if user.employeruser.employercheck.check_emp %}
                  <div class="container mt-2">
                    <img src="{% static 'jobs/images/check.png' %}" id="image_check"> <button class="btn btn_check" >ยืนยันตัวตนแล้ว</button>
                </div>
                {% elif user.employeruser.employercheck.identity_pic %}
                <img src="{% static 'jobs/images/Inprogress.png' %}" id="image_check"> <p class="btn_check_pic" >อยู่ระหว่างการตรวจสอบ</p>
                  {% else %}
                  <img src="{% static 'jobs/images/warning.png' %}" id="image_check2"> <p class="btn_check_pic" >ยังไม่ได้ยืนยันตัวตน</p>
                  {% endif %}
                  
                </div>
                <div class="col-7"><br>
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-5 subject-detail">ชื่อผู้ใช้ :</div>
                            <div class="col-7 detail">{{user.username}}</div>
                            <div class="col-5 subject-detail">ชื่อ-สกุล :</div>
                            <div class="col-7 detail">{{user.first_name}}</div>
                            <div class="col-5 subject-detail">ชื่อองค์กร/ร้านค้า:</div>
                            <div class="col-7 detail">{{user.employeruser.name}}</div>
                            <div class="col-5 subject-detail">อีเมล :</div>
                            <div class="col-7 detail">{{user.email}}</div>
                            <div class="col-5 subject-detail">เบอร์โทร :</div>
                            <div class="col-7 detail">{{user.employeruser.phone}}</div>
                            <div class="col-5 subject-detail">จังหวัด :</div>
                            <div class="col-7 detail">{{user.employeruser.province}}</div>
                            <div class="col-5 subject-detail">ที่อยู่ :</div>
                            <div class="col-7 detail">{{ user.employeruser.location}}</div>
                            <div class="col-5 subject-detail" ><img src="../../static/jobs/images/Pin_alt_fill.png" width="35px"></div>
                            <div class="col-7 detail">{{user.employeruser.address }}</div>
                          </div>
                          <div class="container mt-3">
                            <a href="/emp_update/{{user.id}}" >
                                <button type="button" class="btn apply_btn" >แก้ไขข้อมูล</button>
                              </a>
                          </div>
                    </form>
                    
              </div>
            </div>
          </div>    
    </center>   
  {%endfor%}
{% endblock %}
