{% extends 'jobs/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-1">

	{% if form.errors %}
				<div class="alert alert-danger" role="alert">
					{{form.errors}}
				</div>
				{% endif %}
				<br>
				<br>
    <div class="d-flex justify-content-center">
			<div class="user_card2"><br>
				<div class="d-flex justify-content-center ">
					<h3 id="form-title">สร้างบัญชีของคุณ</h3>
				</div>
				
				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="" id="signup_form">
						{% csrf_token %}
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							{{ form.username }}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							{{ form.first_name }}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
							</div>
							{{ form.email }}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							{{ form.password1 }}
							
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							{{ form.password2 }}
						</div>
				   		<div class="d-flex justify-content-center mt-3 login_container">
				 			<input class="btn login_btn" type="submit" value="ลงทะเบียน">
				   		</div>
					</form>
				</div>
				<div class="mt-4">
					<div class="d-flex justify-content-center links text">
						หาคนทำงาน? <a href="{% url 'signup_emp' %}" class="text-bl ml-2">สร้างบัญชีผู้จ้างงาน</a>
					</div>
				</div>
				<br>
			</div>
		</div>
</div>
<script>
	var form_fields = document.getElementsByTagName('input')
	form_fields[1].placeholder='บัญชีผู้ใช้';
	form_fields[2].placeholder='ชื่อ-สกุล';
	form_fields[3].placeholder='อีเมล';
	form_fields[4].placeholder='รหัสผ่าน';
	form_fields[5].placeholder='ยืนยันรหัสผ่าน';


	for (var field in form_fields){	
		form_fields[field].className += ' form-control'
	}
</script>
{% endblock %}

