{% extends 'jobs/base_admin.html' %}
{% load static %}
{% block content %} 
  {% for jobcomplain_jobber in complain_jobbers %} 
    <center>
        <div class="container" id="header-detail">รายละเอียดคำร้อง</div><br>
          <div class="d-flex justify-content-center">
            <div class="user_card5 mb-5">
              <div class="row">
                <div class="col-5"><br>
                  <img src="../../../{{ jobcomplain_jobber.emp_name.picture }}" id="image3">
                </div>
                <div class="col-7"><br>
                  <div class="row">
                    <div class="col-5 subject-detail">ผู้จ้างงาน :</div>
                    <div class="col-7 detail">{{jobcomplain_jobber.emp_name}}</div>
                    <div class="col-5 subject-detail">ลูกจ้าง :</div>
                    <div class="col-7 detail">{{jobcomplain_jobber.jobber}}</div>
                    <div class="col-5 subject-detail">หัวข้อร้องเรียน :</div>
                    <div class="col-7 detail">{{jobcomplain_jobber.subject}}</div>
                    <div class="col-5 subject-detail">รายละเอียด :</div>
                    <div class="col-7 detail">{{jobcomplain_jobber.description}}</div>
                  </div>
                  {% if jobcomplain_jobber.status == True %}
                    <div class="container">
                      <img src="{% static 'jobs/images/check.png' %}" id="image_check"> <br><button class="btn btn_check" >ดำเนินการแล้ว</button>
                  </div>
                  {% else %}
                  <div class="container">
                  <img src="{% static 'jobs/images/Inprogress.png' %}" id="image_check"> <br><button class="btn check_pic" >อยู่ระหว่างการตรวจสอบ</button>
                </div>
                    {% endif %}
                  <div>
                  </div>
                </div>
              </div>
            </div>
          </div>    
    </center>   
  {%endfor%}
{% endblock %}
