{% extends 'jobs/base_emp.html' %}
{% load static %}
{% block content %} 
  {% for jobcomplain_emp in complain_emps %} 
    <center>
        <div class="container" id="header-detail">รายละเอียดคำร้อง</div><br>
          <div class="d-flex justify-content-center">
            <div class="user_card5 mb-5">
              <div class="row">
                <div class="col-5"><br>
                  <img src="../../../{{ jobcomplain_emp.jobber.picture }}" id="image3">
                </div>
                <div class="col-7"><br>
                  <div class="row">
                    <div class="col-5 subject-detail">ลูกจ้าง :</div>
                    <div class="col-7 detail">{{jobcomplain_emp.jobber}}</div>
                    <div class="col-5 subject-detail">ผู้จ้างงาน :</div>
                    <div class="col-7 detail">{{jobcomplain_emp.emp_name}}</div>
                    <div class="col-5 subject-detail">หัวข้อร้องเรียน :</div>
                    <div class="col-7 detail">{{jobcomplain_emp.subject}}</div>
                    <div class="col-5 subject-detail">รายละเอียด :</div>
                    <div class="col-7 detail">{{jobcomplain_emp.description}}</div>
                  </div>
                  {% if jobcomplain_emp.status == True %}
                <div class="container">
                  <img src="{% static 'jobs/images/check.png' %}" id="image_check"> <br><button class="btn btn_check" >ดำเนินการแล้ว</button>
              </div>
              {% else %}
              <div class="container">
              <img src="{% static 'jobs/images/Inprogress.png' %}" id="image_check"> <br><button class="btn check_pic" >อยู่ระหว่างการตรวจสอบ</button>
            </div>
                {% endif %}
                  <div>
                  </div>
                </div>
              </div>
            </div>
          </div>    
    </center>   
  {%endfor%}
{% endblock %}
