{% extends 'jobs/base_emp.html' %}
{% load static %}

{% block content %}
{% if jobs_emp %}

    <div class="row" id="header">งานของฉัน</div>
<div>
    <table class="table table-hover" id="myjob-table">
        <tbody>
            {% for job_emp in jobs_emp %}
            <tr data-href="{% url 'myjobs_emp_detail' job_id=job_emp.id %}">
                {% if users %}
                {% for user in users %} 
                <td scope="row" width="3%"> <img class="card-img-top" src="../../../{{ user.employeruser.picture }}" id="image"></td>
                {% endfor %}
                {% else %}
                <td scope="row" width="3%"> <img class="card-img-top" src="../../static/jobs/images/Profile.png" id="image"></td>
                {% endif %}
                <td width="18%">
                    <div class="col">
                      
                        <p id="job-name">{{ job_emp.name }}</p>
                        <p id="job-pay">{{ job_emp.pay }}</p>
                    </div>
                <td width="18%">
                    <p style="margin-top: 25px; font-size: 18px;">{{ job_emp.name }}</p>
                </td>
                <td width="2%"> <img src="../../static/jobs/images/Pin_alt_fill.png" id="mapapply"></td>
                <td width="20%">
                    <p style="margin-top: 30px; font-size: 16px;" id="job_location">{{ job_emp.address }}</p>
                    {% if job_emp.jobber > 0 %}
                <td width="3%">
                    <a href="{% url 'myjobber' id=job_emp.id %}" >
                        <button  type="button" class="btn hired_btn">{{ job_emp.jobber }} ผู้สมัคร</button>
                      </a>
                </td>
                {% else %}
                <td width="3%">
                    <a href="{% url 'myjobber' id=job_emp.id %}" >
                        <button  type="button" class="btn cancel_btn">ไม่มีผู้สมัคร</button>
                      </a>
                </td>
                {% endif %}
            </tr>
        </tbody>
        {% endfor %} 
    </table>
</div>
{% else %}
<div class="row" id="header">งานของฉัน</div>
<div class="d-flex justify-content-center my-3">
    <img class="picbox" src="../../static/jobs/images/empty-box.png">
</div>
<div class="d-flex justify-content-center mt-3">
    <p id="text-body">กรุณาเพิ่มงานของคุณ</p>
</div>
<div class="d-flex justify-content-center mt-5">
    {% for user in users %}
    <a href="{% url 'add_job' id=request.user.id %}">
        <button type="button" class="btn apply_btn2">เพิ่มงาน</button>
    </a>
    {% endfor %}  
</div>
{% endif %}
{% endblock %}