{% extends 'jobs/base_jobber.html' %}
{% load static %}

{% block content %}
{% if apply_jobs %}

    <div class="row" id="header">งานของฉัน</div>
<div>
    <table class="table table-hover" id="myjob-table">
        <tbody>
            {% for apply_job in apply_jobs %}
            <tr data-href="{% url 'myjob_apply' job_id=apply_job.job.id %}">
                {% if apply_job.emp_name.picture %}
                <td scope="row" width="3%"> <img class="card-img-top" src="../../../{{ apply_job.emp_name.picture }}" id="image"></td>
                {% else %}
                <td scope="row" width="3%"> <img class="card-img-top" src="../../static/jobs/images/Profile.png" id="image"></td>
                {% endif %}
                <td width="20%">
                    <div class="col">
                        <p id="job-name">{{ apply_job.job.name }}</p>
                        <p id="job-pay">{{ apply_job.job.pay }}</p>
                    </div>
                </td>
                <td width="18%">
                    <p style="margin-top: 25px; font-size: 17px;">{{ apply_job.emp_name }}</p>
                </td>
                <td width="2%"> <img src="../../static/jobs/images/Pin_alt_fill.png" id="mapapply"></td>
                <td width="25%">
                    <p style="margin-top: 30px; font-size: 16px;" id="job_location">{{ apply_job.emp_name.address }}</p>
                </td>
                {% if apply_job.check_apply %}
                <td width="10%"> <img src="../../static/jobs/images/check_blue.png" id="check"></td>
                <td width="3%">
                    <a href="" >
                        <button  type="button" class="btn hired_btn">จ้างงานแล้ว</button>
                      </a>
                </td>
                {% else %}
                <td width="10%"> <img src="../../static/jobs/images/Inprogress.png" id="wait"></td>
                <td width="3%">
                    <a href="{% url 'delete_myjobs' id=apply_job.id %}" >
                        <button  type="button" class="btn cancel_btn">ยกเลิก</button>
                      </a>
                </td>
                {% endif %}
                
            </tr>
        </tbody>
        {% endfor %} 
    </table>
</div>
{% else %}
<div class="row" id="header">งานของฉัน</div>
<div class="d-flex justify-content-center my-3">
    <img class="picbox" src="../../static/jobs/images/empty-box.png">
</div>
<div class="d-flex justify-content-center mt-3">
    <p id="text-body">ไม่มีการสมัครงาน</p>
</div>
<div class="d-flex justify-content-center mt-5">
    {% for user in users %}
    <a href="{% url 'home_jobber'%}">
        <button type="button" class="btn apply_btn2">เลือกดูงาน</button>
    </a>
    {% endfor %}  
</div>
{% endif %}
{% endblock %}